/*#region ----------------- Podcast */
#podcast-section {
  padding: 60px 0 0 0;
  overflow: hidden;
  position: relative;
  .section-inner {
    border-radius: 120px 0 0 0;
    padding: 0 40px 0 40px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 90%;
      z-index: -1;
      background-color: rgba($color: $primary, $alpha: 0.2);
      clip-path: polygon(
        0 calc(0% + 50px),
        100% 0%,
        100% calc(100% - 50px),
        0% 100%
      );
    }
    position: relative;
    .podcast-row {
      display: grid;
      grid-template-columns: 50% 50%;
      .list-section {
        padding-left: 10px;
      }
      .player-section {
        padding-right: 10px;
      }
    }
  }
  .btn-white {
    border-color: transparent;
  }

  .playList {
    background-color: white;
    box-shadow: $boxshadowCard;
    border-radius: 20px;
    padding: 20px;
    .list-inner {
      .title {
        font-size: 17px;
        padding-bottom: 20px;
        margin-bottom: 0;
        color: $text100;
        border-bottom: 1px solid rgba($color: white, $alpha: 0.3);
      }
      .list {
        padding: 0 0 20px 0;
        margin-top: 10px;
        min-height: 246px;
        max-height: 246px;
        overflow-y: auto;
        @include customScrollbar($secondary, rgba(233, 97, 11, 0.2));
      }
    }
    .sound-item {
      background-color: $background200;
      border-radius: 50px;
      margin-top: 10px;
      margin-left: 15px;
      padding: 10px;
      display: grid;
      grid-template-columns: 60px auto;
      align-items: center;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      .play-btn {
        width: 50px;
        height: 50px;
        .btn-circle {
          width: 50px;
          height: 50px;
          color: $primary;
          transition: all 0.2s ease-in-out;
          @include gradient(45deg, $secondary, $secondaryLight);
          color: white;
          .mdi {
            font-size: 24px;
            position: relative;
            top: 1px;
          }
        }
      }
      .cast-inner {
        a {
          display: block;
        }
        .name {
          font-size: 14px;
          font-weight: 600;
          color: $text200;
          @include textTruncate(1);
        }
        .info {
          @include displayFlex(flex, center, space-between);
          padding-left: 10px;
          .speaker,
          .time {
            font-size: 12px;
            font-weight: 500;
            color: $text300;
          }
        }
      }
      &:hover {
        background-color: darken($color: $background200, $amount: 2);
        .play-btn {
          .btn-circle {
            color: $secondary;
          }
        }
      }
    }
  }
}

#player_body {
  .player-content {
    background-color: white;
    box-shadow: $boxshadowCard;
    border-radius: 20px;
    padding: 20px;
    height: 335px;
    position: relative;
    overflow: hidden;
    .player {
      position: relative;
      z-index: 50;
      .details {
        display: grid;
        grid-template-columns: 120px auto;
        width: 100%;
        .cover {
          width: 120px;
          height: 120px;
          overflow: hidden;
          border-radius: 10px;
          .track-art {
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in-out;
            border-radius: 10px;
          }
        }
        .info {
          position: relative;
          z-index: 10;
          padding-right: 15px;
          .track-name {
            font-size: 16px;
            font-weight: 600;
            color: $secondary;
            margin-bottom: 10px;
            @include textTruncate(1);
          }
          .track-artist {
            font-size: 14px;
            font-weight: 500;
            color: $text100;
            @include textTruncate(1);
            opacity: 0.7;
          }
          .now-playing,
          .track-mb {
            font-size: 12px;
            font-weight: 600;
            margin-top: 10px;
            color: $text100;
            @include textTruncate(1);
            opacity: 0.7;
          }
        }
      }
    }
  }
}
#audio_player {
  direction: ltr;
  position: relative;
  z-index: 50;
  .seekslider {
    margin-top: 1rem;
    #progress-bar {
      position: relative;
      -webkit-appearance: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 20px;
      outline: none;
      background-color: transparent;
      &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 100%;
        height: 5px;
        border-radius: 20px;
        background: rgba($color: #000000, $alpha: 0.1);
        cursor: pointer;
      }
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        border-radius: 20px;
        background: rgba($color: #000000, $alpha: 0.1);
      }
      &::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        box-sizing: content-box;
        border: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        @include gradient(45deg, $secondary, $secondaryLight);
        box-shadow: 0 4px 10px 2px rgba($color: #000000, $alpha: 0.2);
        cursor: pointer;
        margin: -5px 0 0 0;
      }

      &::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        border-radius: 20px;
        background: rgba($color: #000000, $alpha: 0.1);
      }
      &::-moz-range-progress {
        @include gradient(45deg, $secondaryLight, $secondary);
      }
      &::-moz-focus-outer {
        border: 0;
      }
      &::-moz-range-thumb {
        box-sizing: content-box;
        border: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        @include gradient(45deg, $secondary, $secondaryLight);
        box-shadow: 0 5px 10px 1px rgba($color: #000000, $alpha: 0.2);
        cursor: pointer;
      }

      &:active {
        &::-webkit-slider-thumb {
          transform: scale(1.2);
          background: $primary;
        }
        &::-moz-range-thumb {
          transform: scale(1.2);
          background: $primary;
        }
        &::-ms-thumb {
          transform: scale(1.2);
          background: $primary;
        }
      }
    }
    .duration-status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      font-weight: 400;
      color: $text200;
    }
  }
  .button-player-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    #previous-song,
    #next-song {
      width: 40px;
      height: 40px;
      background-color: rgba($color: $secondary, $alpha: 0.1);
      color: $secondary;
      border: none;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      .mdi {
        font-size: 24px;
        position: relative;
        top: 1px;
      }
      &:hover {
        background-color: $secondary;
        color: white;
      }
    }
    #play-pause {
      width: 55px;
      height: 55px;
      margin: 0 10px;
      border-radius: 50%;
      @include gradient(45deg, $secondary, $secondaryLight);
      color: white;
      border: none;
      transition: all 0.2s ease-in-out;
      position: relative;
      &:hover {
        background-color: $secondary;
        color: white;
        transform: translateY(-2px);
      }
      &::before {
        content: "\F040A";
        font-family: "Material Design Icons";
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        font-size: 34px;
      }
      &.isPlaying {
        &::before {
          content: "\F03E4";
        }
      }
    }
  }
  .download-podcast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    .btn-download,
    .podcast-page {
      font-size: 12px;
      font-weight: 600;
      color: $primary;
      background-color: rgba($color: $primary, $alpha: 0.1);
      padding: 3px 10px;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba($color: $primary, $alpha: 0.3);
        color: $primary;
        transition: all 0.3s ease-in-out;
      }
      .mdi {
        position: relative;
        top: 2px;
        font-size: 16px;
      }
    }
    .btn-download {
      .mdi {
        margin-left: 5px;
      }
    }
    .podcast-page {
      .mdi {
        margin-right: 5px;
      }
    }
  }
}
.podcast-player {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: $boxshadowCard;
}

.see-more {
  text-align: center;
  padding: 30px 0 20px 0;
}

.podcast-page-content {
  margin-top: 20px;
  .grid-layout {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    .grid-item {
      padding: 10px;
      .card-podcast-glass {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1199px) {
  #podcast-section {
    .section-inner {
      padding: 0;
    }
  }
}
@media (max-width: 992px) {
  #podcast-section {
    padding-top: 50px;
  }
  .podcast-page-content {
    .grid-layout {
      grid-template-columns: 50% 50%;
    }
  }
}
@media (max-width: 768px) {
  #podcast-section {
    padding-top: 40px;
    .section-inner {
      .podcast-row {
        grid-template-columns: 100%;
        .list-section,
        .player-section {
          padding: 0;
        }
        .list-section {
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .podcast-player {
    .player .details {
      grid-template-columns: 100%;
      .cover {
        margin: 0 auto 1rem auto;
        width: 100px;
        height: 100px;
      }
      .info {
        text-align: center;
      }
    }
    .download-podcast {
      position: relative;
      bottom: unset;
      right: unset;
      margin: 0 auto;
    }
  }
}
@media (max-width: 500px) {
  #podcast-section {
    .section-inner {
      border-radius: 20px 20px 0 0;
    }
    .playList {
      padding: 10px;
      border-radius: 15px;
      .list-inner .title {
        text-align: center;
        padding-top: 20px;
      }
    }
    .player-content {
      height: unset;
      .player {
        .details {
          grid-template-columns: 100%;
          .cover {
            margin: 0 auto;
          }
          .info {
            margin-top: 20px;
            text-align: center;
          }
        }
        .players-buttons {
          padding-bottom: 50px;
        }
      }
    }
  }
  .podcast-page-content {
    .grid-layout {
      grid-template-columns: 100%;
    }
  }
}
@media (max-width: 400px) {
  #audio_player .download-podcast {
    flex-direction: column;
    margin-top: 2rem;
    .podcast-page {
      margin-bottom: 10px;
    }
    .podcast-page,
    .btn-download {
      width: 100%;
      text-align: center;
    }
  }
}
/*#endregion -------------- Podcast */
