/*#region ----------------- Counsulant Serives */
.project-form {
  margin: 0 0 50px 0;
  .project-inner {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 3px 15px -1px rgba($color: #000000, $alpha: 0.1);
    .title {
      font-size: 18px;
      font-weight: 600;
      color: $text100;
      text-align: center;
      padding-top: 30px;
      position: relative;
      z-index: 10;
    }
    .form-inner {
      width: 60%;
      margin: 0 auto;
    }
    .file-upload {
      margin-top: 20px;
    }
    .send-request {
      margin-top: 20px;
      text-align: center;
    }
  }
}
@media (max-width: 768px) {
  .project-form .project-inner .form-inner {
    width: 100%;
  }
}
/*#endregion -------------- Counsulant Serives */
