$primary: #68c4b4;
$secondary: #e9610b;
$accent: #fcecdc;
$primaryDark: #4fa39c;
$secondaryLight: #fcc49b;

$success: #06bc48;
$danger: #fe023d;
$warning: #f7cc05;
$info: #1576ea;
$gold: #ffd800;

$text100: #212529;
$text200: #676c70;
$text300: #969ba0;
$textLight: #a1a1a1;

$borderColor: #e1e2e3;

$background100: #fff;
$background200: #f3f3f4;

$bodyFont: IRANYEKAN;
$iconFont: "Material Design Icons";
$boxshadow: 0 10px 20px 0 rgba(80, 80, 90, 0.15);
$boxshadowSideRight: -10px 10px 20px
  rgba(
    $color: #000000,
    $alpha: 0.05,
  );
$boxshadowSideLeft: 10px 10px 20px
  rgba(
    $color: #000000,
    $alpha: 0.05,
  );
$boxshadowCard: 0 4px 25px -1px rgba(
    $color: $text100,
    $alpha: 0.15,
  );
$borderRadius10: 10px;
$borderRadius15: 15px;
$borderRadiusUser: 10px 50px 50px 50px;

// Yalda Color
$pink: #ef434f;
$pinkDark: #e6404c;
